DROP DATABASE IF EXISTS otimizacao;

CREATE DATABASE otimizacao;

USE otimizacao;

CREATE TABLE professor (
id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,
nome VARCHAR(35) NOT NULL);

CREATE TABLE disciplina (
id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,
nome VARCHAR(35) NOT NULL,
id_professor INTEGER NOT NULL,
FOREIGN KEY (id_professor) REFERENCES professor(id));