
<h1>Novo Professor</h1>

<form action="/otimizacao/disciplina/novo" method="post">
  Nome da Disciplina:
  <input required type="text" name="nome_disciplina" id="nome_disciplina">
  <br />
  Professor:
  <select required id="professor" name="id_professor" onchange="selectUpdated(this);"></select>
  <br />
  <input type="submit" value="Cadastrar">
  <a href="/otimizacao">
    <button>Voltar</button>
  </a>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function () {
  carregaProfessores();
});

function selectUpdated(component) {
  console.log($(component).val());
}

function carregaProfessores() {
  console.log("carregaProfessores()");
  $.ajax({
    method: "GET",
    url: "/otimizacao/json/professor/todos",
    success: function(data) {
      var professores = data.data;
      console.log(professores);
      $('#professor').html('');
      $('#professor').append(new Option("Professor", "", true, true));
      for (var i = 0; i < professores.length; i++) {
        $('#professor').append(new Option(professores[i].nome, professores[i].id, false, false))
      }
    }
  });
}
</script>
