<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css.css">
</head>
<body>
  <h2>Professor {{.Nome}}</h2>
  Horários:
  <table id="horarios" border="1">
    <thead>
      <tr>
        <td width="10%"></td>
        <td width="10%" class="dia-semana">Segunda</td>
        <td width="10%" class="dia-semana">Terça</td>
        <td width="10%" class="dia-semana">Quarta</td>
        <td width="10%" class="dia-semana">Quinta</td>
        <td width="10%" class="dia-semana">Sexta</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function () {
  criaTabelaHorariosPermitidos();
});

function criaTabelaHorariosPermitidos(){
  var horarios = {{.Horarios}}
  var linha = '';
  var bolinha = '<div class="circle" style="background: black"></div>';
  for (var i=0; i<3; i++){
    linha += '<tr><td class="horario-label">' + (i+1) + '° horário</td>'
    for (var j=0; j<5; j++) {
      linha += '<td align="center">' + (horarios[i][j] ? bolinha : '') + '</td>'
    }
    linha += '</tr>'
  }
  $('#horarios').append(linha);
}
</script>
